/* Base page styles */
.card {
    background-color: #754545; /* Beige background */
}

body {
    font-family: Didot, "Bodoni MT", "Cinzel", Georgia, serif;
    margin: 20px;
    background-color: #001a3f; /* Navy blue background */
}

/* Headings */
h1 {
    color: #dbdae5; /* Light gray color */
}

h2 {
    color: #dbdae5; /* Light gray color */
}

/* Paragraphs */
p {
    color: #dbdae5; /* Light gray color */
    font-size: 15px;
}

a:link {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
ul  {
  background: #754545;
  color: white;
  margin: 10px;
  padding: 25px;
}
